*.egg-info
build
__pycache__
node_modules
.DS_Store
images
.ipynb_checkpoints
out
.idea
.vscode
*.log
/redis-data/dump.rdb
.env
**/node_modules/
/chat-ui/node_modules/
/.run/
file_db/
/chat-ui/.env.production
/venv/
/.mypy_cache/
/postgres-data/
/server/src/uploads/
/server/src/data/metadata.json
/server/src/data/vectors.json
