version: '3.7'

services:
  redis:
    image: redis/redis-stack:latest
    volumes:
      - ./redis-data:/data/
    ports:
      - "6379:6379"
      - "8001:8001"

  video-chat-server:
    build:
        context: .
        dockerfile: ./videocallserver/Dockerfile
    image: video-chat:latest
    ports:
      - "8881:8881"

  backend:
    image: apssouza/chatux:latest
    depends_on:
      - postgres
      - redis
    volumes:
      - ./server/src:/app/src
      - ./chat-ui/build:/app/frontend
      - ./server/src/uploads:/app/uploads
    environment:
      REDIS_DB: 0
      SERVER_HOST: "0.0.0.0"
      REDIS_HOST: ${REDIS_HOST:-redis}
      REDIS_PORT: ${REDIS_PORT:-6379}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      PGSQL_HOST: ${PGSQL_HOST:-postgres}
      PGSQL_PORT: ${PGSQL_PORT:-5432}
      PGSQL_PASS: ${PGSQL_PASS:-postgres}
      PGSQL_USER: ${PGSQL_USER:-chatux}
      PGSQL_DB: ${PGSQL_DB:-postgres}
    ports:
      - "8880:8880"
    working_dir: /app/src
    command: ["sh", "/app/src/prepare-and-start.sh"]

  postgres:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=chatux
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - '5432:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./script.sql:/docker-entrypoint-initdb.d/init.sql


volumes:
  redis:
    driver: local
  postgres:
    driver: local

